.home-container{
    background-color: #0C0C0C;
    overflow: auto;
    height: 100vh;
    padding: 30px;
    color:#E5DFD9;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-container{
    display: flex;
    gap: 10px;
}
h2{
    font-family: "Comme";
}
.icons{
    font-size: 25px;
}
.category-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.caregory-images-container{
    overflow: auto;
    width: 100%;
    display: flex;
    gap:60px;
    margin-top: 20px;
    margin-bottom: 45px;
    flex-grow:au;
}
.category-images{
    width: 200px;
}
/* .caregory-images-container::-webkit-scrollbar{
    display: none;
} */
.images{
    width: 100%;
    border-radius: 10px;
}
.images-container{
    display: flex;
    gap:20px;
    width: 100%;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    flex-grow: 1;
    justify-content: center;
}
.images-con{
    width:24%;
    position: relative;
}
::-webkit-scrollbar{
    display: none;
}
.bookmark{
    color: black;
    position: absolute;
    top: 3%;
    left:90%;
    font-weight: 700;
    font-size: 24px;
}
.cut-rate{
    text-decoration: line-through;
    font-size: 11px;
}
.off{
    font-size: 13px;
    color: #2FC14F;
}
.cart-bton-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding: 10px;
}
.txt{
    margin-bottom: 0px;
    margin-top: 0px;
}
.cart-logo{
    font-size: 25px;
}


@media screen and (max-width:768px){
    .home-container{
        background-color: #0C0C0C;
        overflow: auto;
        padding: 10px;
    }
    h2{
        font-size: 14px;
    }
    .icons{
        font-size: 17px;
    }
    h3{
        font-size: 8px;
    }
    .caregory-images-container{
        overflow: auto;
        width: 100%;
        display: flex;
        gap:23px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .category-images{
        width: 25px;
    }
    b{
        font-size: 6px;
    }
    .images-container{
        display: flex;
        gap:20px;
        width: 100%;
        overflow: auto;
        margin-top: 0px;
        margin-bottom: 10px;
        flex-grow: 1;
        justify-content: center;
    }
    .txt{
        font-size: 6px;
        margin-bottom: 0px;
    }.rate{
        font-size: 5px;
        margin-top: 0px;
    }
    .cut-rate{
        text-decoration: line-through;
        font-size: 4px;
    }
    .off{
        font-size: 4px;
        color: #2FC14F;
    }
    .images-con{
        width:30%;
        position: relative;
    }
    .bookmark{
        color: black;
        position: absolute;
        top: 3%;
        left:85%;
        font-weight: 700;
        font-size: 6px;
    }
    .cart-logo{
        font-size: 6px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .kkkk{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

